@use 'media';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--large-spacer);
	padding: var(--small-spacer) var(--medium-spacer) ;

	@include media.phone {
		flex-direction: column;
		gap: var(--tiny-spacer);
	}

	.left_elements {
		display: flex;
		align-items: center;
		gap: var(--medium-spacer);

		@include media.phone {
			flex-direction: column;
			gap: var(--tiny-spacer);
		}	

		.links {
			display: flex;
			gap: var(--medium-spacer);

			@include media.phone {
				gap: var(--small-spacer);
			}
		}
	}
}
