.productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacer);
    padding: var(--small-spacer);
    width: 100%; // temporarily set to 50% for demo
    margin-left: 0;
   }