:root {
    --purple: #3C257E;
    --red: #DE5D4B;
    --green: #1FA535;
    --blue: #0D6EFD;

    --background-primary: #F4F2FA;
    --background-secondary: #FFFFFF;
    --background-tertiary: #DEE2E7;
    --purple-highlight: #7B61FF;

    --text-dark: #1C1C1C;
    --gray-700: #4E5566;
    --gray-600: #6E7485;
    --gray-500: #8B96A5;
    --gray-300: #DEE2E7;
    --gray-100: #E9EAF0;
    --text-light: white;
}
