.container {
    position: relative;

    >input {
        width: 50%;
    }
}

.label {
    position: absolute;
    left: 12px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 4px;
}