@use 'media';

.container{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #e9e8e8;
        z-index: 1;
    }
}

.navItem {
    flex: 1;
    text-align: center;
    padding: 0.8rem 0;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;

    &:hover {
        color: var(--purple);
    }
}

.activeIndicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 25%;
    background-color: var(--purple);
    z-index: 2;
    transition: transform 0.3s ease;
}

.content {
    margin-top: 1rem;
    padding: 1rem;
    
    h4 {
        font-weight: bold;
    }

    p {
        margin: 0;
    }
}

.listing {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: var(--small-spacer);
    text-align: left;
    color: var(--text-light);
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.374);
}

.title {
    width: 60%;
    justify-content: center;
    //margin: auto;
    padding: var(--small-spacer);
    text-align: left;
}

.img_container {
    padding: var(--large-spacer) var(--medium-spacer);
    margin-bottom: var(--medium-spacer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--tiny-spacer);
    background-color: var(--background-upload);
    border-style: dashed;
    border-width: 1px;
    border-color: var(--gray-500);
    border-radius: var(--tiny-spacer);

    p {
        font-size: 80%;
        font-weight: 500;
    }

    .purple_button {
        padding: var(--tiny-spacer) var(--small-spacer);
        font-size: 80%;
    }
}

.inputs_container {
    margin: var(--small-spacer) 0;

    .column_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--large-spacer);

        @include media.tablet {
            gap: var(--medium-spacer);
        }

        @include media.phone {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--tiny-spacer);
        }   

        input {
            width: 50%;

            @include media.phone {
                width: 100%;
            }
        }
    }

    .input_container {
        width: 100%;
        padding: var(--tiny-spacer) 0;
    }

    input {
        width: 100%;
        padding: var(--small-spacer) var(--small-spacer);
        margin: var(--tiny-spacer) 0;
        border-style: solid;
        border-width: 1px;
        border-color: var(--gray-500);
        border-radius: var(--tiny-spacer);
        outline: none;
    }

    input::placeholder {
        color: var(--gray-500);
    }

    p {
        font-size: 90%;
        font-weight: 500;
    }

    h4 {
        padding: var(--small-spacer) 0;
    }
}

.selected_tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    gap: var(--tiny-spacer);
    border: solid;
    border-color: var(--gray-500);
    border-width: 1px;
    border-radius: var(--tiny-spacer);
    padding: var(--small-spacer);
    height: 160px;

    .tag_display {
        align-self: flex-start;
        border: solid;
        border-color: var(--gray-500);
        border-width: 1px;
        border-radius: 3px;
        padding: var(--tiny-spacer) var(--small-spacer);
        font-size: 90%;
        font-weight: 500;
    }

    span {
        color: var(--gray-500);
        margin-left: var(--tiny-spacer);
        cursor: pointer;
    }
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: var(--small-spacer);

    @include media.phone {
        flex-direction: column;
    }
}

.white_button {
    padding: var(--tiny-spacer) var(--medium-spacer);
    border: none;
    border-radius: var(--tiny-spacer);
    cursor: pointer;
    background-color: var(--background-secondary);
    color: var(--purple);
    font-weight: 500;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-300);
}

.purple_button {
    padding: var(--tiny-spacer) var(--medium-spacer);
    border: none;
    border-radius: var(--tiny-spacer);
    cursor: pointer;
    background-color: var(--purple);
    color: var(--text-light);
    font-weight: 500;
}

.delete_button {
    padding: var(--tiny-spacer) var(--medium-spacer);
    border: none;
    border-radius: var(--tiny-spacer);
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.toggle_container {
    display: flex;
    align-items: center;
    gap: var(--small-spacer);

    .toggle {
        appearance: none;
        display: inline-block;
        max-width: 64px;
        min-width: 64px;
        position: relative;
        border-radius: 50px;
        outline: none;
        overflow: hidden;
        cursor: pointer;
        height: 32px;
        background-color: var(--background-secondary);
        transition: background-color ease 0.3s;
      }
      
      .toggle:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 28px;
        background: var(--gray-500);
        left: 2px;
        top: 2px;
        border-radius: 50px;
        color: var(--gray-500);
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
      }
      
      .toggle:checked {
        background-color: var(--background-tertiary);
      }
      
      .toggle:checked:before {
        left: 32px;
      }
}